.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button{
    padding: 10px 20px;
    background-color: rgb(37, 17, 139);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 3px 5px rgb(122, 122, 122);
    transition: all 0.15s ease-in ;
    position: relative;
}

.wrapper button:hover{
    background-color: rgb(58, 34, 177);

}
.wrapper button:active{
    transform: translateY(3px);
    box-shadow: 0px 0px 0px black;
    background-color: rgb(255, 0, 0);
    color: #000;


}


.accordian{
    width: 500px;
}

.item{
    background-color: rgb(37, 17, 139);
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: white;
    height: auto;
}